*{padding: 0;
margin: 0;}
.header{
    background-color: #eff6fd;
    overflow-x: hidden;
}
.header .navbar-nav li a{
    color:#878e95
}
.header .navbar-nav li{
    margin-left: 25px;
}
.header .navbar-nav .actives a{
    color:#fff!important;
    border-radius:12px;
    background-color: #1f252e;
}
.bg-e83e8c{
    background: #e83e8c;
    color: #fff;
    border-radius: 20px !important;
}
.bg-fff{
    background: #fff;
    color: black;
    border-radius: 20px !important;
}
.jiacu{
    font-weight: 600;
}
.jm{
    background-color:#F8FAFE;
}
.img-pic{
    width:50px;
    height:50px;
    border: 1px solid #e5ecf5;
    margin-left: 20px;
}
.card{
    border: none;
    background-color:#F8FAFE;
}
.jumbotron{
    background-color: #fff;
}
.btn{
 border-radius:5rem ;
}
.list-group-item{
    border: none;
    padding: 0;
    background-color:#F8FAFE ;
}
