.bgBlue {
    background: #eff6fd;
}

.bgBlue2 {
    background-color: #f8fafe;
}

.curBtn {
    background-color: #e83e8c;
    color: #fff;
}

.fontColor {
    color: #e83e8c;
}

.fontColor2 {
    color: #17A2B8;
}

.card img {
    width: 100%;
}