.back{
	width: 100%;
	height: 100%;
	background: #EFF6FD;
}
.hei{
	height: 450px;
}
.bg{
	background: #EFF6FD;
}
.kuan{
	width: 50px;
	height: 50px;
	border: 1px solid gray;
	border-radius: 10px;
}
.myimg{
	width: 80px;
	height: 80px;
}